// Edit Scroll-bar
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $section-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 0px;
}

body {
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: $section-color;
    font-size: 14px;
    min-width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}
// All Rest
* {
    @include all-reset;
}
// a Reset
a {
    @include a-reset;
}
// reset btn
button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

.btn-info,
.btn-warning {
    color: $white_color;
    &:hover {
        color: $white_color;
    }
    &:focus {
        color: $white_color;
    }
}

// reset forms
.form-control,
.form-select {
    font-size: 13px !important;
    border: 1px solid $light-grey-color !important;
}
// reset form-control
.form-control {
    &:focus::placeholder {
        opacity: 0;
        transition: 0.4s;
    }
}
// reset form-select
.form-select {
    color: $dark-grey !important;
    padding: 6.8px 12px;
}

// main-section
.main-section {
    padding: 1.5rem 0;
    min-height: calc(100vh - 41.88px - 54.5px - 69px);
}
// Modal
.modal-header {
    .modal-title {
        font-size: 15px !important;
    }
    .btn-close {
        margin: unset !important;
    }
}

input[readonly] {
    cursor: context-menu;
    &:focus {
        box-shadow: none !important;
    }
}

#chartdiv {
    width: 100%;
    height: 205px;
}

// custom on mobile screen
@include maxWidth(xs) {
    .h {
        height: 220px !important;
    }
    .w-100-sm {
        width: 100% !important;
    }
    .fs-sm,
    .btn-primary,
    .btn-warning,
    .btn-success,
    .btn-info,
    .btn-danger,
    .btn-secondary,
    .btn-green,
    .btn-purple {
        font-size: 13px;
    }
    .btn-sm {
        padding: 4px 8px !important;
        font-size: 12px;
        line-height: 16px;
    }
    .table {
        thead {
            tr {
                th {
                    font-size: 11px;
                    vertical-align: middle;
                }
            }
        }
        tbody {
            tr {
                th {
                    font-size: 12px;
                }
            }
        }
    }
    .main-navbar {
        .tog-nav {
            font-size: 27px !important;
        }
        .list-item {
            .icon-nav {
                font-size: 19px !important;
                .badge-count {
                    min-width: 15px !important;
                    height: 15px !important;
                }
            }
        }
    }
    .app {
        .sidebar {
            .logo {
                width: 90px !important;
            }
        }
        &.colse-and-open {
            .sidebar {
                .logo {
                    opacity: 1 !important;
                }
            }
        }
    }
    .app.colse-and-open .app .sidebar .list .list-item a .badge-count {
        min-width: 18px !important;
        height: 18px !important;
        font-size: 13px;
    }
    .app.colse-and-open .sidebar .list .list-item a .badge-count {
        display: flex !important;
    }
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
