//colors
$main-dark: #243848;
$main-color:#009080;
$light-grey-color: #ddd;
$section-color: #e9e9e9;
$light-blue :#09AECE;
$white_color: #fff;
$main-border: #e9e9e9;
$green-color: #32A24C;
$green-color-hover: #309748;
$red-color: #FF1F1D;
$info-color:#0dcaf0;
$dark-grey:#6b7280;
$text-greey: #6b7280;
//transition
$transition: 300ms;
