// Edut form control Select Bootstrap
select.form-control {
  -webkit-appearance: auto !important;
    -moz-appearance: auto !important;
    appearance: auto !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 35px;
}

// Img Form 
.view-img-form {
  width: 150px;
  max-width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}